$border-rad: 2rem;
$clr-primary: #15DEA5;

@mixin pseudo-pos {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column-reverse;
}

.btn {
    border-radius: $border-rad;
    background-color: $clr-primary;
    position: relative;
    z-index: 1;
    border: none;
    width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    padding: 15px 0;
    font-weight: 500;
    font-style: italic;
    margin: 30px auto 0;
    cursor: pointer;


    &::after {
        @include pseudo-pos;
        background: radial-gradient(circle, lighten($clr-primary, 5) 0%, darken($clr-primary, 10) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        border-radius: $border-rad;
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        &+.img {
            opacity: 0;
        }
    }
}

img {
    z-index: -1;
    position: relative;
    height: 470px;
    border: 5px solid black;
    display: block;
    padding: 5px;
    width: 636px;
    border-radius: $border-rad
}

.img {
    @include pseudo-pos;
    border-radius: $border-rad;
    background-color: $clr-primary;
    z-index: 100;
    opacity: 1;
    transition: opacity 2000ms ease-in;
    height: 470px;
    width: 636px;
    position: absolute;
    top: 177px;
    left: 365px;
}